<aside class="sidebar">
  <span class="site-title">Portfolio</span>
  <nav>
    <a href="/" class="<%= path === '/' ? 'nav-active' : '' %>">Home</a>
    <a
      href="/artworks"
      class="<%= path.startsWith('/artworks') ? 'nav-active' : '' %>"
      >Gallery</a
    >
    <a
      href="/admin"
      class="<%= path.startsWith('/admin') ? 'nav-active' : '' %>"
      >Admin</a
    >
  </nav>
</aside>
